* {
  box-sizing: border-box;
}

/* Step 10
Now that you have figured out your box-sizing approach, you can clean up the CSS you added to see the changes.

Remove your .gallery and img selectors, and all rules within. */

/* .gallery {
  border: 5px solid red;
  width: 50%;
}

img {
  width: 100%;
  border: 5px solid blue;
  padding: 5px;
} */

Congratulations, your code passes. Submit your code to continue.

"Nothing but net!"

100% complete
Learn CSS Flexbox by Building a Photo Gallery
100% complete
