* {
  box-sizing: border-box;
}

body {
  background-color: #c9d2fc;
}

.cat-head {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(#5e5e5e 85%, #45454f 100%);
  width: 205px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 46%;
}

/* Step 18
Also, remove the .box CSS rule and its declarations because you don't need them anymore. */

/* .box {
  width: 400px;
  height: 600px;
  background-color: #000;
  position: absolute;
  left: 650px;
  top: 800px;
} */

/* Congratulations, your code passes. Submit your code to continue.

"Here's looking at you, Code!"

22% complete
Learn Intermediate CSS by Building a Cat Painting
22% complete */
